.profile-name {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin: 5% 5%;
    border: none;
    border-radius: 99em;
    font-size: var(--fz);
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    padding: 5%;
    box-shadow: var(--box-shadow)
}
.profile-age {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin: 5% 5%;
    border: none;
    border-radius: 99em;
    font-size: var(--fz);
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    padding: 5%;
    box-shadow: var(--box-shadow)
}